
<main>
    <form id="logOnForm">
        <h2>Login</h2>
        <label>UserId</label>
        <input id="UserID" name="userID" id="lUserId" type="text">
        <label>UserRole</label>
        <input name="userType" id="lUserRole" type="text">
        <a href="#" onclick="login(10)"><span>log in</span></a>
        <a href="#" onclick="login(20)"><span>log in</span></a>
        <a href="#" onclick="login(30)"><span>log in</span></a>
        <a href="#" onclick="login(40)"><span>log in</span></a>
    </form>
</main>
