<header>
    <img src="images/logo-dummy.png"/>
    <script src="scripts/RaavarebatchTable.js"></script>
    <h1>This i a webpage</h1>
</header>
<main>
    <body>
    <button onclick="updateCommodityBatchByID()">Create CommodityBatch</button>
    <table align="center">
        <thead>

        <tr>
            <td id="header" colspan="7"><h1>Table of CommodityBatch</h1> </td>

        </tr>

        <tr>
            <th>RaavareBatchId</th>
            <th>Maengde</th>
            <th>RaavareId</th>
            <th>update</th>
            <th>delete</th>


        </tr>

        </thead>
        <tbody id="commodityBatchTable">

        </tbody>
    </table>
    </body>
</main>
<footer>
</footer>
