<header>
    <img src="images/logo-dummy.png"/>
    <script src="scripts/ReceptComponentsTable.js"></script>
    <h1>This i a webpage</h1>
</header>
<main>
    <body>
    <button onclick="updateReceptComponentsByID()">Create ReceptComponents</button>
    <table align="center">
        <thead>

        <tr>
            <td id="header" colspan="7"><h1>Table of ReceptComponents</h1> </td>

        </tr>

        <tr>
            <th>RaavareId</th>
            <th>NonNetto</th>
            <th>Tolerance</th>
            <th>ReceptID</th>
            <th>update</th>
            <th>delete</th>


        </tr>

        </thead>
        <tbody id="receptComponentsTable">

        </tbody>
    </table>
    </body>
</main>
<footer>
</footer>
