<script type="text/javascript" src="scripts/UserTable.js"></script>
<main>
    <table align="center">
        <thead>

            <tr>
                <td id="header" colspan="7"><h1>Table of users</h1> </td>

            </tr>

            <tr>
                <th>UserId</th>
                <th>UserName</th>
                <th>Initialer</th>
                <th>CPR</th>
                <th>Password</th>
                <th>Roles</th>
                <th>update</th>
                <th>delete</th>
            </tr>

        </thead>
        <tbody id="userTable">

        </tbody>
    </table>
</main>
<footer>

</footer>