
    <script src="scripts/UserTable.js"></script>
    <table align="center">
        <thead>

        <tr>
        <td id="header" colspan="7" onclick="loadUsers()"><h1>Table of users<br/>klik på mig</h1> </td>

    </tr>

    <tr>
    <th>UserId</th>
    <th>UserName</th>
    <th>Initialer</th>
    <th>CPR</th>
    <th>Password</th>
    <th>Roles</th>
    <th>update</th>
    <th>delete</th>


    </tr>

    </thead>
    <tbody id="userTable">

        </tbody>

        </table>
        <script>loadUsers()</script>

