body{
    background-color: #A3B7C7;
    color: #253847;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body header{
    background-color: #6CA3D0;
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
}
body header img{
    display: block;
    position: relative;
    width: 10%;
}
body header nav{
    background-color: #798894;
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
}
body header nav ul{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
}
body header nav ul li{
    display:none;
    font-size: 24px;
    margin: 0 5px;
    padding: 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 15%;
}
body header nav ul li:hover{
background-color: #6CA3D0;
}
body main{
    background-color: white;
    display: block;
    margin: 20px auto;
    padding: 5px;
    position: relative;
    width: 90%;
}
body main table{
    display: block;
    position: relative;
    width: 100%;
}
main table thead {
    position: relative;
    width: 100%;
}
main table thead tr {
    position: relative;
    width: 100%;

}
main table thead {
}
#loginForm{
    background-color: #A3B7C7;
    display: block;
    margin: 10px auto;
    padding: 4px;
    position: relative;
    width: 85%;
}
#loginForm label{
    display: block;
    font-size: 26px;
    position: relative;
    width: 100%;
}
#loginForm input{
    display: block;
    position: relative;
    width: 100%;
}
#loginForm .wrapper{
    display: block;
    margin: 5px auto;
    position: relative;
    width: 90%;
}
#loginForm .wrapper a{
    background-color: #798894;
    display: inline-block;
    font-size: 22px;
    position: relative;
    text-align: center;
    width: 24%;
}
#loginForm .wrapper a:hover{
    background-color: white;
}
